
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="m-auto text-md-center p-5">
        <h1>Welcome to SmartPhone SpeciFication</h1>
        <h3>TraineeName: Md. Amirul Momenin</h3>
        <h5>Batch ID: CS/ACSL-M/52/01</h5>
        <h6>TraineeId:1270321</h6>
        <p>Traineing center: ACSL, kaji-para, Mirpur,Dhaka-1216</p>
    </div>
</div>



