
@{
    ViewBag.Title = "QualificationPDF";
}

<h2>QualificationPDF</h2>

@Html.ActionLink("DownLoad pdf", "TeacherPDF", "Reports", new { }, new { @class = "btn btn-primary btn-sm" })
<br />
@Html.ActionLink("DownLoad xls", "TeacherPDF", "Reports", new { }, new { @class = "btn btn-primary btn-sm" })