
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="m-auto text-md-center p-5">
        <h1 padding-top: 10px;">Welcome to Computer World</h1>
        <div class="row align-items-center p-4">
            <h2>IsDB IT Scholarship Project</h2>
            <h2>Round-52</h2>
            <hr />
            <div class="p-4">
                <h4>Name: <strong>Sumaiya Jui</strong></h4>
                <h4>Batch ID: <strong>CS/ACSL-M/52/01</strong></h4>
                <h4>Trainee ID: <strong>1270466</strong></h4>
            </div>
        </div>
    </div>
</div>

