
@{
    ViewBag.Title = "Index";
}

<h1 style="color:darkcyan;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">ASP.NET MVC5 Mid_Monthly-8</h1>
<h3 style="color:darkblue;font-size:200%; text-align:center;">Rahib Howlader</h3>
<h3 style="color:darkblue;font-size:150%; text-align:center;">Batch ID: CS/ACSL-M/52/01</h3>
<h3 style="color:darkblue;font-size:120%; text-align:center;">ID:1270710</h3>

