
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="m-auto text-md-center p-5">
        <h1 padding-top: 10px;">Welcome to Hospital Management Project</h1>
        <h1 style="color: #483D8B" padding-top: 10px;">Al-Shifa Hospital</h1>
        <div class="row align-items-center p-4">
            <h2>IsDB IT Scholarship Project</h2>
            <h2>Round-52</h2>
            <hr />
            <div class="p-4">
                <h2>Name: <strong>Mohammad Sazu Mia</strong></h2>
                <h2>Batch ID: <strong>CS/ACSL-M/52/01</strong></h2>
                <h2>Trainee ID: <strong>1270880</strong></h2>
            </div>
        </div>
    </div>
</div>

